<!DOCTYPE html>
<html>
  <head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- <link rel="stylesheet" href="animate.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> -->
    <link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Serif+Pro" rel="stylesheet">
    <title>Fs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">

      	window.currentUser = <%= render("api/users/user.json.jbuilder",
      		user: current_user).html_safe %>
    </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
